# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '20'
      - name: clean node module
        run: | 
          rm -rf node_modules
          rm -rf out
          mkdir -p out
      - name: npm install
        run: |
          npm install
          npm install hackmyresume@1.8.0  -g
      - name: hackmyresume
        run: |
          hackmyresume build resume-full.json TO out/resume.all -t node_modules/jsonresume-theme-even
          cp out/resume.html out/index.html
      - uses: stefanzweifel/git-auto-commit-action@v4
